body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: white;
    color: black;
}

* {
  box-sizing: border-box;
}


#pagebody{
    overflow: scroll;
}
.container {
    position: absolute;
    top: 20%;
    left: 50%;
    height: 50px;
    width: 50px;
    transform: translate(-100%, -100%);
}

.tbt{
    left: 50%;
}

.text {
   position: absolute;
    z-index: 0;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: 'NoCommercialPotential-Regular';
}



.text:nth-child(1) { transform: translate(0px, 60px); 
    mark {background: hotpink!important}}
.text:nth-child(2) { transform: translate(0px, 100px); 
    mark {background: yellow!important}}
.text:nth-child(3) { transform: translate(0px, 140px) ; 
    mark {background: greenyellow;!important}}
.text:nth-child(4) { transform: translate(0px, 180px) ; 
    mark {background: aqua;!important}}


.center-text {
    position: absolute;
    mark {background: lightgray;!important}
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 14px;
    font-family: 'NoCommercialPotential-Regular';
    text-align: center;
    color: white;
    z-index: 100; /* Ensure it's on top */
    cursor: grab;
    width: auto;
    height: auto;
    background: transparent; /* Transparent background for better visuals */
    transition: top 0.1s, left 0.1s; /* Smooth movement */
}

.center-text:active {
    cursor: grabbing;
}

.centerstick{
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.date{
    font-weight: normal;
    text-decoration: underline;
}

.logsubhead{
    font-style: italic;
}

.headimg1{
    position: fixed;
    left: 50%;
    height: 300px;
    max-height: 30%;
    transform: translate(-50%, 0%);
}

.headimg{
    left: 50%;
    max-height: 30%;
    padding-top: 10px;
    max-width: 400px;
    align-items: center;
}

.information{
    position: fixed;
    bottom: 0%;
    left: 50%;
    max-height: 30%;
    height: 25%;
    text-align: center;
    transform: translate(-50%, -20%);
    font-family: 'NoCommercialPotential-Regular';
    font-size: 14px;
}

.year{
    position: fixed;
    bottom: 0%;
    left: 0%;
    text-align: left;
    transform: translate(-40%, 0%);
    mark {background: lightgray;!important}
    font-style: normal;
    font-family: 'NoCommercialPotential-Regular';
    font-size: 14px;
}

.menu{
  mark {background: lightgray;!important}
  z-index: 100;
  transform: translate(0%, 200%);
  bottom: 25%;
  position: fixed;
}


p {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: saddlebrown;
}

a:hover{
    color: black;
}

table, th, {
    width: 400px;
    font-size: 14px;
    margin-top: 10px;
    max-width: 400px;
}

td {
    font-size: 14px;
    border:1px solid black;
    margin-top: 10px;
    width: 400px;
    text-align: left;
    padding-left: 1%;
}


#td1 {
    font-size: 14px;
    border:1px solid black;
    margin-top: 10px;
    max-width: 400px;
    background-color: yellow;
    text-align: left;
    padding-right: 1%;
}

#td2 {
    font-size: 14px;
    border:1px solid black;
    margin-top: 10px;
    max-width: 400px;
    background-color: yellow;
    text-align: left;
    padding-right: 1%;
}

#type {
    font-size: 14px;
    border:1px solid black;
    margin-top: 10px;
    max-width: 400px;
    background-color: aqua;
    text-align: left;
    padding-right: 1%;

}

#timeline_header {
    font-size: 14px;
    border:1px solid black;
    margin-top: 10px;
    max-width: 400px;
    background-color: black;
    color: yellow;
}

.centerbody{
    display: flex;
    justify-content: center;
    align-items: left;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2.50%;
    max-width: 400px;
    flex-direction: column;
    font-family: 'NoCommercialPotential-Regular';
    font-size: 14px;
}

.paragraphscnd{
    text-indent: 25%;
}

.bodyheader{
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 2.5%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    flex-direction: column;
    font-family: 'NoCommercialPotential-Regular';
    font-size: 14px;
}

.collection{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    font-family: 'NoCommercialPotential-Regular';
}

.logsphotos{
    width: 100%;
}

.logcaption{
    font-size: 14px;
    padding: 5px;
    font-family: 'NoCommercialPotential-Regular';
}

ol{
    margin: 0;
}

#info{
     mark {background: hotpink;!important}
}

#dj{
     mark {background: yellow;!important}
}

#works{
     mark {background: greenyellow;!important}
}

#typeprjct{
     mark {background: aqua;!important}
}





/*COMMENTS STYLING*/

#reactions-promotion.reactions-refresh, #reactions.reactions-refresh{
    display: none !important;
}

#disqus_thread{
    width: 400px !important;
}

.disqus-footer__wrapper--refresh{
    display: none;
}


@media only screen and (max-width: 768px) {
    .circle-container{
/*        transform: translate(-35%, -50%);*/
    }
}

#archive{
    font-weight: normal;
    font-family: 'NoCommercialPotential-Regular';
}



